name: Workflow

on:
  push:
    branches:
      - main
    paths:
      - "package.json"

jobs:
  check-version:
    name: Package
    uses: Sovgut/datagrid-react-router/.github/workflows/check-version.yml@main

  build:
    name: Package
    needs:
      - check-version
    if: needs.check-version.outputs.is-changed == 'true'
    uses: Sovgut/datagrid-react-router/.github/workflows/build.yml@main
    with:
      node-version: "22.x"
      package-version: ${{ needs.check-version.outputs.version }}

  deploy-npm:
    name: Package
    needs:
      - check-version
      - build
    permissions:
      id-token: write
      contents: read
    uses: Sovgut/datagrid-react-router/.github/workflows/deploy-npm.yml@main
    with:
      node-version: "22.x"
      package-version: ${{ needs.check-version.outputs.version }}

  deploy-github:
    name: Package
    needs:
      - check-version
      - build
    permissions:
      packages: write
      contents: read
    uses: Sovgut/datagrid-react-router/.github/workflows/deploy-github.yml@main
    with:
      node-version: "22.x"
      package-version: ${{ needs.check-version.outputs.version }}
